.header {
    height: 65px;
    border-bottom: 0.5px solid gray;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1rem;

    box-sizing: border-box;
  }
  
  .nav-menu {
    display: flex;
  }
  .logo
  {
   cursor:pointer;
  }
  
  .nav-menu li {
    padding: 0 1rem;
  }


  